$background-color: #131619;
$secondary-background-color: #0c0e10;

$tertiary-background-color: #202427;

$search-input-background-color: #201c24;

$secondary-action-item-background: clear;
$tertiary-action-item-background: linear-gradient(
  164deg,
  $tertiary-background-color,
  $secondary-background-color
);

$primary-color: #7ac8f0;
